// ======================================================
// Abstracts :: Variables
// ======================================================

// Paths
$path-image: '/images';
$path-icon: '/icon';
$path-fonts: '/fonts';

// Box model properties
$padding: 16px;
$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 24px;
$padding-lg: 32px;

$input-padding: 9px 14px;
$button-padding: 8px 14px;
$base-padding: 6px 14px;

// Breakpoints
$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);

// Z-Index
$z-index: 1;
$z-index-sm: 2;
$z-index-md: 3;
$z-index-lg: 4;
$z-index-xl: 5;
$z-index-2xl: 9999;

:root {
  // Colors
  --app-bg-color: #f5f8fa;
  --white: #ffffff;
  --light: #e9ebec;

  --primary: #009ef7;
  --secondary: #e1e3ea;
  --success: #50cd89;
  --info: #7239ea;
  --warning: #ffc700;
  --danger: #f1416c;
  --dark: #181c32;

  --primary-light: #f1faff;
  --secondary-light: #f9f9f9;
  --success-light: #e8fff3;
  --info-light: #f8f5ff;
  --warning-light: #fff8dd;
  --danger-light: #fff5f8;
  --dark-light: #f4f4f4;

  // Color text
  --text-primary: #009ef7;
  --text-secondary: #e1e3ea;
  --text-light: #f9f9f9;
  --text-success: #50cd89;
  --text-info: #7239ea;
  --text-warning: #ffc700;
  --text-danger: #f1416c;
  --text-dark: #181c32;
  --text-muted: #a1a5b7;
  --text-gray-100: #f9f9f9;
  --text-gray-200: #f4f4f4;
  --text-gray-300: #e1e3ea;
  --text-gray-400: #b5b5c3;
  --text-gray-500: #a1a5b7;
  --text-gray-600: #7e8299;
  --text-gray-700: #5e6278;
  --text-gray-800: #3f4254;
  --text-gray-900: #181c32;

  --body-color: #181c32;
  --link-color: #009ef7;
  --link-hover-color: #0095e8;

  // Input colors
  --input-placeholder-color: #a1a5b7;
  --input-color: #5e6278;
  --input-border-color: #e1e3ea;
  --input-border-color-hover: #b5b5c3;
  --input-border-color-focus: #009ef7;
  --input-bg: #f9f9f9;
  --input-bg-focus: #f4f4f4;
  --input-placeholder-color: #a1a5b7;

  // Table
  --table-border-color: #f4f4f4;

  // Sidebar colors
  --app-sidebar-light-separator-color: #e4e6ef;

  // Borders
  --border-width: 1px;
  --border-style: solid;
  --border-color: #f4f4f4;
  --border-color-translucent: rgba(0, 0, 0, 0.175);

  --border-radius: 0.25rem;
  --border-radius-sm: 0.475rem;
  --border-radius-lg: 0.625rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;

  // Fonts
  --font-family-base: 'Roboto', sans-serif;
  --body-font-size: 0.875rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;

  // Box shadow
  --box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
  --box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
  --box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  --box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);

  // Side bar
  --app-sidebar-width: 240px;
  --app-sidebar-width-actual: 240px;
  --app-sidebar-gap-start: 0px;
  --app-sidebar-gap-end: 0px;
  --app-sidebar-gap-top: 0px;
  --app-sidebar-gap-bottom: 0px;

  // Side bar visual
  --app-sidebar-light-bg-color: #ffff;

  // Header
  --app-header-height: 58px;
  --app-header-height-actual: 70px;
}
