@use 'sass:map';

.main-header-wrapper {
  background-color: var(--white) !important;
  border-bottom: 1px solid var(--app-sidebar-light-separator-color);
  z-index: 0 !important;
  height: var(--app-header-height) !important;

  .MuiToolbar-root {
    // Layout properties
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0px;
    // Box model propertiesd
    padding-left: $padding;
    padding-right: $padding;
    height: var(--app-header-height) !important;
    margin-left: calc(
      var(--app-sidebar-width) + var(--app-sidebar-gap-start, 0px) + var(--app-sidebar-gap-end, 0px)
    );

    // Visual Properties
    color: black;
  }

  .breadcrumb {
    flex: 1;
    padding-top: 4px;
    .MuiButton-root {
      padding: 0px !important;
      min-width: 0px !important;
      font-size: 13px !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  &--btn-menu {
    display: none;
  }
}

@include respond-to(map.get($breakpoints, 'large')) {
  .main-header-wrapper {
    .MuiToolbar-root {
      margin-left: 0px;
    }

    &--btn-menu {
      padding-right: 8px;
      display: flex;
    }
  }
}
