.MuiFormControl-root {
  // Outlined Input styles
  .MuiOutlinedInput-input {
    padding: $input-padding !important;
    font-size: var(--body-font-size) !important;
  }

  fieldset {
    border-color: var(--input-border-color) !important;
  }

  // Adorned end
  .MuiInputBase-adornedEnd {
    padding-right: 2px;
  }

  // Pseudo class
  &:hover {
    fieldset {
      border-color: var(--input-border-color-hover) !important;
    }
  }
  .Mui-focused fieldset {
    border-color: var(--input-border-color-focus) !important;
  }

  // Multiline textarea
  .MuiInputBase-multiline {
    padding: 0px !important;
  }
}

// Input label
.MuiInputLabel-root {
  font-size: 12px !important;

  .required {
    color: var(--danger);
  }
}

// Autocomplete styles
.MuiFormControl-root {
  .MuiAutocomplete-root {
    .MuiAutocomplete-input {
      font-size: var(--body-font-size) !important;
      padding: 0px 4px !important;
    }

    fieldset {
      border-color: var(--input-border-color) !important;
    }

    // Form label root
    .MuiFormLabel-root {
      font-size: var(--body-font-size) !important;
    }

    // Pseudo class
    &:hover {
      fieldset {
        border-color: var(--input-border-color-hover) !important;
      }
    }

    .Mui-focused fieldset {
      border-color: var(--input-border-color-focus) !important;
    }
  }
}

// MuiAutocomplete-popper
.MuiAutocomplete-popper {
  z-index: 99999 !important;
  .MuiPaper-root {
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    box-shadow: var(--box-shadow) !important;
    border-top: 0px !important;
    border: 1px solid var(--input-border-color);
    font-size: var(--body-font-size) !important;
  }
}

// ======================================================
// Custom input
// ======================================================

// Styles Search toolbar
.table-search-wrapper {
  // Layout properties
  display: flex;
  align-items: center;

  // Box model properties
  height: 38px;
  padding: 6px 6px 6px 10px !important;
  gap: 6px;

  // Visual Properties
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg);

  // Typography properties
  font-size: 14px;

  // CSS3 properties
  @include transition(0.4s);

  // Pseudo class
  &:focus-within {
    background-color: var(--input-bg-focus);
  }

  &:hover {
    border: 1px solid var(--input-border-color);
  }

  .MuiIconButton-root {
    margin-right: -4px;
  }
}

// input dropzone
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone-thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.dropzone-thumb {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.dropzone-thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.dropzone-img {
  display: block;
  width: auto;
  height: 100%;
}
