// Style for loading component

.loading-wrapper {
  padding: 10px 10px 4px 10px;
  background-color: var(--white);
  box-shadow: var(--box-shadow-sm);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
}
