.account-menu {
  margin-top: 10px !important;
  box-shadow: none !important;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.074));
  border: 1px solid var(--input-border-color) !important;
  position: relative;
  overflow: visible !important;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 10px;
    width: 10px;
    background-color: #fff;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;
    border-top: 1px solid var(--input-border-color);
    border-left: 1px solid var(--input-border-color);
  }

  .MuiMenuItem-root {
    .menu-label {
      font-size: 14px !important;
      margin-bottom: -1px;
      margin-left: 8px;
      font-weight: 500;
      color: var(--text-gray-600);
    }
    .MuiSvgIcon-root {
      color: var(--text-gray-600);
      font-size: 20px !important;
    }
  }
}
